* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    overflow: hidden;
}


.sky {
    height: 100vh;
    width: 100%;
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    position: absolute;
    
}

.trees {
    height: 100vh;
    width:100%;
    background-image: url(./images/trees.png);
    background-repeat: repeat;
    bottom:3vh ;
    animation: trees 5s linear infinite;
    position: absolute;
}

.track {
    height: 20vh;
    width: 800vw;
    background-image: url(./images/track.png);
    background-repeat: repeat-x;
    background-size: cover;
    position: absolute;
    top: 80vh;
    animation: track 10s linear infinite;
}





.car1 {
    height: 100px;
    width: 330px;
    background-image: url(./images/car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 70%;
    bottom: 19vh;
    animation: carshake 5s linear infinite;
    animation: car 5s ease-out 1;
}
.flag img {
    width: 5rem;
    position: absolute;
    bottom: 19vh;
    top:-9vh;
    left: -11%;
}

.wheel1 img {
    width: 65px;
    position: relative;
    top: 38px;
    left: 43px;
    animation: wheel 1s linear  infinite;
}
.wheel2 img {
    width: 60px;
    position: relative;
    top: -26px;
    left: 223px;
    animation: wheel 1s linear  infinite;
}







.bike1{
    height: 150px;
    width: 155px;
    background-image: url(./images/motobike.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    bottom: 19vh;
    animation: bike 5s ease-out 1;
}

.bikeflag img {
    width: 5rem;
    position: absolute;
    bottom: 19vh;
    top:-4vh;
    left: -30%;
}






.car2 {
    height: 100px;
    width: 330px;
    background-image: url(./images/vigo.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 20%;
    bottom: 23vh;
    animation: carshake 5s linear infinite;
    animation: car 5s ease-out 1;
}
.flag2 img {
    width: 5rem;
    position: absolute;
    bottom: 19vh;
    top:-9vh;
    left:-18%;
    animation: flag 5s ease-out 1;
}

.vigowheel1 img {
    width: 58px;
    position: relative;
    top: 71px;
    left: 45px;
    animation: wheel 1s linear  infinite;
}
.vigowheel2 img {
    width: 57px;
    position: relative;
    top: 10px;
    left: 245px;
    animation: wheel 1s linear  infinite;
}






.bike2{
    height: 150px;
    width: 155px;
    background-image: url(./images/motobike.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 8%;
    bottom: 19vh;
    animation: bike 5s ease-out 1;
}

.bikeflag2 img {
    width: 5rem;
    position: absolute;
    bottom: 19vh;
    top:-3vh;
    left:-30%;
    animation: flag 5s ease-out 1;
}


.wheel1 img {
    width: 65px;
    position: relative;
    top: 38px;
    left: 43px;
    animation: wheel 1s linear  infinite;
}
.wheel2 img {
    width: 60px;
    position: relative;
    top: -26px;
    left: 223px;
    animation: wheel 1s linear  infinite;
}





@keyframes trees {
    from {
        background: url('./images/trees.png') left ;
    }

    to {
        background: url('./images/trees.png') right ;
    }
}

@keyframes track {
    100% {
        transform: translate(-500vw);
    }
    
}

@keyframes car {
    0% {
        transform: translateX(-500%);
    }

    100% {
        transform: translate(0%);
    }
    
}
@keyframes wheel {
    100% {
        transform: rotate(360deg);
    }
    
}

@keyframes bike {
    0% {
        transform: translateX(-1000%);
    }
    100% {
        transform: translateX(0);
    }
    
}


